<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StartPage</title>
    <script type="text/javascript" src="jquery/dist/jquery.js" async></script>
    <script type="text/javascript" src="datatables.net/js/jquery.dataTables.js" async></script>
    <script type="text/javascript" src="datatables.net-bs/js/dataTables.bootstrap.js" async></script>


    <script src="js/ajax.js" type="text/javascript" async></script>
    <script src="js/service.js" type="text/javascript" async></script>
    <script src="js/view.js" type="text/javascript" async></script>

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="/node_modules/datatables.net-bs/css/dataTables.bootstrap.css">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <ul>
                <li>
                    <ul>
                        <p class="text-center">Работа с числами</p>

                        <li class="row">
                            <div class="col-xs-6">
                                <button class="btn btn-success" onclick="getGeneratedNumber()">Сгенерировать</button>
                            </div>

                            <div class="col-xs-6">
                                <button class="btn btn-success" onclick="getBDNumber()">Достать из БД</button>
                            </div>
                        </li>
                        <li class="row">
                            <div class="col-xs-6">
                                <div class="input-group">
                                    <input id="numberFrom" type="number" class="form-control"
                                           placeholder="От">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="input-group">
                                    <input id="numberTo" type="number" class="form-control"
                                           placeholder="До">
                                </div>
                            </div>
                        </li>
                        </li>

                        <li class="row">

                        </li>


                    </ul>
                </li>

                <li>
                    <ul>

                        <p class="text-center">Работа со строками</p>

                        <li class="row">
                            <div class="col-xs-6">
                                <button class="btn btn-success" onclick="getGeneratedString()">Сгенерировать</button>
                            </div>

                            <div class="  col-xs-6">
                                <button class="btn btn-success" onclick="getBDString()">Достать из БД</button>
                            </div>
                        </li>

                        <li class="row">


                            <div class=" col-xs-offset-3 col-xs-6">
                                <div class="input-group">
                                    <input id="numberLetters" type="number" class="form-control"
                                           placeholder="Кол-во букв">
                                </div>

                            </div>
                        </li>
                    </ul>
                </li>


            </ul>
        </div>
        <div class="col-xs-6">

            <table id="entityT" class="table table-bordered table-stripped table-condensed">

                <thead>
                <tr class="success">
                    <td>id</td>
                    <td>Число или строка</td>
                </tr>
                </thead>
            </table>
        </div>

    </div>

</div>

</body>
</html>